<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/assets/images/favicon.png}" href="assets/images/favicon.png" type="image/png">
    <title></title>
    <link th:href="@{/assets/css/icons.css}" href="assets/css/icons.css" rel="stylesheet">
    <link th:href="@{/assets/css/bootstrap.min.css}" href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" href="assets/css/style.css" rel="stylesheet">
    <link th:href="@{/assets/css/responsive.css}" href="assets/css/responsive.css" rel="stylesheet">

</head>

<body class="error-bg">

<!--Start Section-->
<section>
    <div class="container">
        <div class="row">
            <div class="error-inner">
                <h1>400</h1>
                <h3>Page not found</h3>
                <p>Lorem Ipsum is simply dummy text of the</p>
                <a th:href="@{/admin/main}" href="index.html" class="btn btn-primary">跳转到主页</a>
            </div>
        </div>
    </div>
</section>
<!--End Section-->


<!--Begin core plugin -->
<script th:src="@{/assets/js/jquery.min.js}" src="assets/js/jquery.min.js"></script>
<script th:src="@{/assets/js/bootstrap.min.js}" src="assets/js/bootstrap.min.js"></script>
<!-- End core plugin -->

</body>
</html>